/Source/VSProj/vs2013/_ReSharper.Caches/
/Source/VSProj/vs2013/.vs/
/Source/VSProj/vs2013/.idea/
/Source/VSProj/vs2013/obj/
/Source/VSProj/vs2013/packages/
/TestDll/TestDll/_ReSharper.Caches/
/TestDll/TestDll/.idea/
/TestDll/TestDll/TestDll/bin/
/TestDll/TestDll/TestDll/obj/
/Source/VSProj/Bin/
/Source/VSProj/Data/
/Source/VSProj/Lib/
